# Terraform
hashicorp/
hashicorp/*
.terraform/
.terraform.*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.override.tf
*.override.tf.json
terraform.tfvars
# Keys
*.json
keepthislocal.sh
.DS_Store